__pycache__/
build/
Data/
debug/
lib/
logs/
selfrecon_sythe/
a-pose-female/
a_pose_female_process/
a-pose-people/
female-3-casual/
female-8-plaze/
male-2-casual/
inference_debug/
people_snapshot_public/
proprecess/
pytorch3d-0.4.0/
train_debug/
FastMinv/
MCAcc/
MCGpu/
wandb/
tmp/
lib/
smpl_pytorch/
*.zip
*.pkl
*.h5
neutral_smpl_with_cocoplus_reg.txt
*.avi
*.npz
*.jpg
*.png
*.obj
*.ply
.vscode/
*.so
*.egg-info/
*.egg
